


  .close {
    min-width: unset;
    padding: 8px;
    line-height: unset;
    position:absolute;
    left:calc(100% - 14px - 16px);
  }
  .new {
    min-width: unset;
    padding: 8px;
    line-height: unset;
    position: relative;
    left:-36px;
  }
