<mat-form-field [ngClass]="moveup" [formGroup]="questionGroup" (click)="setQG()">
  <input matInput placeholder="{{questionGroup.value.placeholder}}" type="tel" formControlName="input" [textMask]="{mask: mask}" onClick="this.select();">
  <mat-hint *ngIf="questionGroup.value.hint">
    {{questionGroup.value.hint}}
  </mat-hint>
  <mat-error *ngFor="let val of questionGroup.value.validators">
    <span *ngIf="val.validator(questionGroup.controls.input)">{{val.description}}</span>
  </mat-error>
</mat-form-field>
