mat-card {
  padding-top: 0;
  max-width: 100vw;
  mat-card-title {
    width: calc(100% + 48px);
    position: relative;
    left: -24px;
    #breadcrumb{
      padding:12px;
    }
  }

  mat-card-content {
    max-height: calc(100vh - 64px - 16px - 16px - 36px - 8px - 24px - 64px - 48px - 12px - 6px);
    overflow: auto;
    padding: 0 12px;

    .close{
      min-width: unset;
      padding: 8px;
      line-height: unset;
    }

    .add{
      margin-left:16px;
    }
  }


}
