<mat-card *ngIf="clientFormGroup" [formGroup]="clientFormGroup">
  <mat-card-title>
    <div fxLayout="row">
      <div fxFlex fxFlexAlign="center" class="title" *ngIf="family">Family of {{ family.clientFName | name }} {{ family.clientLName | name }}</div>
      <div fxFlex class="subtitle" *ngIf="clientFormGroup.getRawValue().description">
        {{ clientFormGroup.getRawValue().description }}
      </div>
    </div>
  </mat-card-title>
  <div fxLayout="row">
    <mat-card-content fxFlex #cardView>
      <mat-tab-group [style.maxHeight.px]="493" [(selectedIndex)]="selectedIndex">
        <mat-tab *ngFor="let tab of clientFormGroup.controls.tabs.controls; let i = index" label="Edit Adult">
          <div fxLayout="column" *ngIf="selectedIndex === i">
            <app-view-tab [group]="tab" [disabled]="false" [index]="[{ type: 'tab', index: i }]" [clientID]="clientID"></app-view-tab>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </div>
  <mat-card-actions>
    <div fxLayout="row">
      <div fxFlex></div>
      <a mat-raised-button [routerLink]="['/home']" [queryParams]="{ returnFamily: familyID }">Go Back</a>
      <button mat-raised-button color="primary" (click)="confirmDialogue('updateclient', 'Update Client', 'Are you sure you would like to add a this client?')">Update Client</button>
    </div>
  </mat-card-actions>
</mat-card>
