.os-list-container {
  margin: auto;
  width: 70%;
}

.error-display {
  color: white;
  background-color: rgb(247, 61, 61);
  height: 30px;
  padding: 14px 7px 7px 7px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.error-message {
  color: rgb(247, 61, 61);
}
